body {
  margin: 0;
}

#puzzle-container {
  margin:2em auto;
  width: 400px;
}

#puzzle-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: 0;
}

#puzzle {
  border: 1px dotted #888;
  width: 264px;
  height: 264px;
  overflow: hidden;
  letter-spacing: 0;
  line-height:0;
  margin: 0 auto;
}

#puzzle:hover {
  cursor: pointer;
}

.btn {
  border-radius: 60px;
  border: 1px solid;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 1em 1.5em;
  font-family: sans-serif;
  margin: 1em;
  -moz-transition: box-shadow 2s, -moz-transform 2s;
  -webkit-transition: box-shadow 2s, -webkit-transform 2s;
  -o-transition: box-shadow 2s, -o-transform 2s;
  transition: box-shadow 2s, transform 2s;
}

.btn:hover {
  cursor: pointer;
}

#puzzle-toolbar-left {
  float: left;
  margin-left: 1em;
}

#puzzle-toolbar-right {
  float: right;
  margin-right: 1em;
}

#puzzle-white-move, #puzzle-black-move {
  text-align: center;
  font-family: sans-serif;
  margin: 1em 0 0 0;
  padding: 0;
  color: black;
}
